---
---
$primary: #1f1f1f;
$body-background-color: #ffc52a;
$text: #1f1f1f;
$footer-background-color: #1f1f1f;
$footer-color: #dfdfdf;
// $scheme-main: #3f3f3f;
// Import Main CSS file from theme
@import "main";
